@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@1,100&family=Shadows+Into+Light&display=swap');
body {
    margin: 0;
    
    background-image: url(../img/raccoom.gif);
    background-size: cover;
}



h1,
p {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    background-image: linear-gradient(to top, #e6e9f075 0%, #eef1f579 100%);
    color: rgb(0, 0, 0);
}

.escolhas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opçao {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.opçao a {
    display: block;
    background-image: linear-gradient(to top, #e6e9f075 0%, #eef1f579 100%);
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 1rem 2rem;
    border-radius: 4px;
    color: rgb(8, 8, 8);
    text-transform: uppercase;
    border: 2px solid white;
    text-decoration: none;
}

.botao {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 255, 0.192);
    width: 100%;
    height: 5vh;
    border-radius: 10px;
}
.diego {
    text-decoration: none;
    font-family: fantastic;
    color: white;
    text-shadow: #000 2px 3px 2px;
}
.diego:hover {
    font-size: 130%;
    transition: 1s;
}